<div id="header"><h1><a href="/">Join The Machine</a></h1>
  <p class="description" id="description" style="height: 100px;">
    
  </p>
  <script type="text/javascript">
    var lyrics = ["Welcome my son<br>Welcome to the machine<br>Where have you been?<br>It's alright we know where you've been"
,
    "You've been in the pipeline<br>Filling in time<br>Provided with toys and scouting for boys<br>You brought a guitar to punish your ma"
,
    "And you didn't like school<br>And you know you're nobody's fool<br>So welcome to the machine"
,
    "Welcome my son<br>Welcome to the machine<br>What did you dream?<br>It's alright we told you what to dream"
,
    "You dreamed of a big star<br>He played a mean guitar<br>He always ate in the Steak Bar<br>He loved to drive in his Jaguar<br>So welcome to the machine"]
  var i = 0;
  var fn = function() {
    document.getElementById("description").innerHTML = lyrics[i];
    i++;
    if (i >= lyrics.length) {
      i = 0;
    }
  };
  fn();
  window.setInterval(fn, 5000);
  </script> 
</div>